@import './constants.scss';

body {
  font-family: Helvetica;
}

header {
  padding: $gutter-size--large;
  display: flex;
  align-items: center;

  .logo{
    flex: 1;
  }

  .nav{
    flex: 4;
  }

  .profile{
    flex: 1;

    span{
      background: $secondary-dark;
      color: $secondary-light;
      border-radius: 50% 50%;
      padding: 5px;
    }
  }

  img {
    max-height: 33px;
  }

  border-bottom: $border-standard;
}


.nav {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      flex: 1;
      a{
        color: $secondary-dark;
        text-decoration: none;

        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
.booking-container {
  padding-left: 12px;
}
