@import './constants.scss';

body {
  font-family: Helvetica;
}

main {
  margin: 0 20px;
}

header {
  padding: $gutter-size--large;
  display: flex;
  align-items: center;

  .logo{
    flex: 1;
  }

  .nav{
    flex: 4;
  }

  .profile{
    flex: 1;
    text-align: right;

    span{
      background: $secondary-dark;
      color: $secondary-light;
      border-radius: 50% 50%;
      padding: 5px;
    }
  }

  img {
    max-height: 33px;
  }

  border-bottom: $border-standard;
}


.nav {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      flex: 1;
      a{
        color: $secondary-dark;
        text-decoration: none;

        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
.booking-container {
  padding-left: 12px;
}


form {

  > div {
    margin-left: 10px;
  }

  .change-btn {
    color: $positive;
    background: none;
    border: none;
  }

  .available-time {
    display: inline-block;
    color: $secondary-dark;
    padding: 10px;
    border: solid 1px $secondary;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    outline: none;

    &:hover {
      background-color: $positive-light;
    }

    &.active {
      background-color: $positive;
      color: white;
    }
  }

  textarea {
    width: 98%;
    border-radius: 5px;
  }

  .date-row, .notes-row {
    display: flex;

    > div:first-child {
      width: 40px;

      i {
        margin-top: 20px;
        margin-right: 10px;
        color: $secondary-dark;
      }
    }

    > div:nth-child(2) {
      flex: 1;
    }
  }

  .notes-row {
    margin-bottom: 20px;
  }

  .user-row {
    display: flex;
    align-items: center;
    border-bottom: $border-standard;

    > div:nth-child(1) {
      width: 60px;
    }
    > div:nth-child(2) {
      flex: 5;
    }
    > div:nth-child(3) {
      flex: 1;
      text-align: right;
    }
  }

  input[type="submit"] {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    background-color: $positive;
    color: white;
  }
}

